body {
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-weight: 650;
    font-style: normal;
    background-color: rgb(235, 235, 235);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* O container principal ocupa 100% da altura da tela */
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ocupa toda a altura da tela */
  }
  
  /* O conteúdo principal cresce para ocupar o espaço disponível */
  .content {
    flex: 1;
  }
